.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/.quarto/
**/*.quarto_ipynb

# Quarto generated asset directories
*_files/
docs/site_libs/

# Quarto freeze output
_freeze/

# Other generated site directory
_site/

# Generated search index
/docs/search.json
